<%-  include("partials/Header") %>
<br><br>
<main style="padding:10% 7%;" class="text-center" id="main">
  <a href="/Register"><button type="button" class="btn btn-lg registr " name="button">REGISTER FOR NEW MEMBERSHIP </button><br><br></a>
  <a href="/Login">   <button type="button" class="btn btn-lg registr" name="button">LOGIN FOR EXISTING USER</button></a>
</main>
   <%- include("partials/Footer") %>
